:root {
  --pink-strong: #fb6f92;
  --pink-accent: #ff8fab;
  --pink-medium: #ffb3c6;
  --pink-light: #ffc2d1;
  --pink-pale: #ffe5ec;
  --text-color: #d33665;
  --font-body: "Kavoon", serif;
  --font-header: "Dancing Script", cursive;
}

body {
  background-color: var(--pink-pale);
  display: grid;
  grid-template-areas:
    "header logo"
    "main nav"
    "footer footer";
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 100px 5fr auto;
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--font-body);
}

header, .logo {
  grid-area: header;
  background-color: var(--pink-light);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: var(--font-header);
  font-size: 2.0rem;
  border-bottom: 4px solid var(--pink-strong);
  border-radius: 10px;
}

.logo {
  grid-area: logo;
  background-color: var(--pink-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-header);
  font-size: 2.0rem;
  border-bottom: 4px solid var(--pink-accent);
}

nav {
  grid-area: nav;
  background-color: var(--pink-medium);
  text-align: center;
  padding: 40px 10px;
  border-left: 4px solid var(--pink-accent);
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: var(--pink-pale);
  background-color: var(--pink-strong);
  padding: 10px 16px;
  border-radius: 8px;
  display: inline-block;
  font-family: var(--font-body);
  font-size: 2.0rem;
}

nav a:hover {
  background-color: var(--pink-pale);
  color: var(--pink-strong);
  transform: scale(1.05);
}

main {
  grid-area: main;
  padding: 30px;
  background-color: var(--pink-pale);
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(255, 51, 102, 0.2);
}


main h2 {
  border-bottom: 3px solid var(--pink-accent);
  padding-bottom: 5px;
  font-family: var(--font-header);
  color: var(--text-color);
}


.indextekst {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-top: 15px;
  background-color: var(--pink-accent);
  padding: 20px;
  border-radius: 10px;
  color: var(--pink-pale);
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.hobbytekst {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-top: 15px;
  background-color: var(--pink-accent);
  padding: 20px;
  border-radius: 10px;
  color: var(--pink-pale);
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.muziektekst {
  font-size: 1.0rem;
  line-height: 1.6;
  margin-top: 15px;
  background-color: var(--pink-accent);
  padding: 20px;
  border-radius: 10px;
  color: var(--pink-pale);
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  display: block;
  background-color: var(--pink-light);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--pink-strong);
  width: 300px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
  background-color: var(--pink-accent);
}

.card:hover img {
  filter: brightness(1.12) contrast(1.05);
}

.hobby-image {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.2));
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.hobby-image img {
 border: var(--pink-medium) solid 4px;
 border-radius: 10px;
 margin: 5px;
}

.muziek-image {
  filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.2));
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.muziek-image img {
 border: var(--pink-medium) solid 4px;
 border-radius: 10px;
 margin: 5px;
}

footer {
  grid-area: footer;
  background-color: var(--pink-accent);
  color: #ffe5ec;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-body);
  border-radius: 10px;
}