body {
  display: grid;
  grid-template-areas: 
  "header header"
  "main nav"
  "footer footer";
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 100px 1fr 30px;
}

header {
   grid-area: header;
}
nav {
   grid-area: nav;
}
main {
   grid-area: main;
}
footer {
   grid-area: footer;
}
